<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="styleSheet" href="http://ui-grid.info/release/ui-grid.min.css"/>
        <link rel="styleSheet" href="src/assets/custom.css"/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="src/lib/angular/angular.min.js"></script>
        <script src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="http://ui-grid.info/release/ui-grid.min.js"></script>
        
        <script src="src/app/app.js"></script>
        <script src="src/app/homePage/homePageController.js"></script>
        <script src="src/app/homePage/homeSubPageController.js"></script>
        <script src="src/app/uiGridPage/uiGridPageController.js"></script>
        <script src="src/app/modalsPage/modalsPageController.js"></script>
        <script src="src/app/ngFormPage/ngFormPageController.js"></script>
        
        <script src="src/app/shared/services/utilService.js"></script>
        <script src="src/app/shared/services/jsonService.js"></script>
        
        <script src="src/app/shared/filters/myFilters.js"></script>
        
        <script src="src/app/shared/directives/firstDirective.js"></script>
        <script src="src/app/shared/directives/scopeDirective.js"></script>
        
    </head>
    <body ng-app="app">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="home" ui-sref-active="active">Home</a></li>
                        <li><a ui-sref="uiGridPage" ui-sref-active="active">UI Grid</a></li>
                        <li><a ui-sref="ngFormPage" ui-sref-active="active">ngForm</a></li>
                        <li><a ui-sref="modalsPage" ui-sref-active="active">Modals</a></li>
                        <li><a ui-sref="about" ui-sref-active="active">About</a></li>
                        <li><a ui-sref="contact" ui-sref-active="active">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <!--div>
            <input type="text" ng-model="myname">
            <div>printing using expressions :: {{myname}}</div>
            <div>printing using ng-bind:: <span ng-bind="myname"></span></div>
            <input type="text" ng-model="myname">
        </div-->
        <div style="padding-top: 70px;">
            <ui-view></ui-view>
            
            <!--script>
                
                angular.module('app').controller('FirstController', function($scope, $rootScope){
                    $scope.test1="Hi its $scope variable - FirstController";
                    $rootScope.test2="Hi its $rootScope variable - FirstController";
                    var vm = this;
                    vm.city="Atlanta";
                });
                angular.module('app').controller('SecondController', function($scope, $rootScope){
                    $scope.test1="Hi its $scope variable - SecondController";
                    $rootScope.test2="Hi its $rootScope variable - SecondController";
                    var vm = this;
                    vm.city="Orlando";
                });
            </script>
            <div ng-controller="FirstController as firstCtrl">
                {{test1}}<br>
                {{test2}}<br>
                {{firstCtrl.city}}
            </div>
            ================================================
            <div ng-controller="SecondController as secondCtrl">
                {{test1}}<br>
                {{test2}}<br>
                {{secondCtrl.city}}
            </div-->
        </div>
        
        
    </body>
</html>
