
<div class="container">
    <div>
        {{test1}}<br>
        {{test2}}<br>
        <!-- testing angular inbuilt filters-->
        {{homeCtrl.pageName | reverseText}} 
    </div>
    <first-directive></first-directive>
    <!--scope-directive my-val="Test"></scope-directive-->
    <!--scope-directive my-val="homeCtrl.showPopup()"></scope-directive-->
    <div class="row">
        <div class="col-md-4">
            <input type="text" ng-model="homeCtrl.searchMovie.name">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="movie in homeCtrl.moviesList | filter:homeCtrl.searchMovie">{{movie.name}}</li>
            </ul>
        </div>
    </div>
    
    <div ng-include="'src/app/homePage/homeSubPage.html'"></div>
    
    <!-- Add Carousel Here - http://getbootstrap.com/examples/carousel/-->
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
        </div>
    </div>
</div>